<div class="wrapper">
  <% include ../header/header %>
  <% include ../sidebar/sidebar %>
  <section class="content-wrapper">
    <div class="content">
      <div class="row">
        <div class="col-lg-12">
          <div class="box box-primary">
            <div class="box-header">
              <i class="fa fa-th"></i>
              <h3 class="box-title">LIST OF EVENTS</h3>
              <div class="pull-right box-tools">
                <button id="btn-add-event" type="button" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add New Event</button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="api-table" class="table table-striped table-bordered">
                 <thead>
                      <tr>
                          <th>Title</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Status</th>
                          <th>Created At</th>
                          <th>Created By</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="modal-form" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">Add New Event</h4>
        </div>

        <div class="modal-body">
          <!-- Horizontal Form -->
          <div class="box box-info">
              <!-- form start -->
              <form class="form-horizontal" id="form-add-event">
                  <div class="box-body">
                    <div class="form-group">
                        <label for="event-title" class="col-sm-3 control-label">Event Title</label>
                        <div class="col-sm-9">
                          <input type="text" name="eventTitle" class="form-control" id="eventTitle" placeholder="Event Title">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="event-description" class="col-sm-3 control-label">Event Date</label>
                      <div class="col-sm-9">
                        <input type="text" name="eventTime" class="form-control pull-right" id="eventTime">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="event-description" class="col-sm-3 control-label">Event Description</label>
                        <div class="col-sm-9">
                            <textarea id="eventDescription" name="eventDescription" class="form-control" rows="3" placeholder="Enter Event Description..."></textarea>
                        </div>
                    </div>
                    <!-- Visible only for Administrator -->
                    <div class="form-group adminApproval">
                        <label class="col-sm-3 control-label" for="event-status">Approval Status</label>
                        <div class="col-sm-9">
                            <div style="margin-bottom:5px;"></div>
                            <input type="checkbox" class="flat-red input-lg" id="eventStatus" name="eventStatus">
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="event-status">Event Color Tag</label>
                      <input type="hidden" name="eventColorTag" id="eventColorTag"/>
                      <div class="col-sm-9">
                        <ul class="fc-color-picker" id="color-chooser">
                          <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Event Color Tag</label>
                        <div class="col-sm-9">
                            <div id="selColorTag"></div>
                        </div>
                    </div>
                </form>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button id="btnAddEventSubmit" class="btn btn-info pull-right">Submit</button>
                </div>
                <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
  </div>

  <div id="modal-edit" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">Edit Event</h4>
        </div>

        <div class="modal-body">
          <!-- Horizontal Form -->
          <div class="box box-info">
              <!-- form start -->
              <form class="form-horizontal" id="form-edit-event">
                  <div class="box-body">
                    <div class="form-group">
                        <label for="event-title" class="col-sm-3 control-label">Event Title</label>
                        <div class="col-sm-9">
                          <input type="text" name="eventTitle" class="form-control" id="editEventTitle" placeholder="Event Title">
                        </div>
                    </div>
                    <div class="form-group">
                      <label for="event-description" class="col-sm-3 control-label">Event Date</label>
                      <div class="col-sm-9">
                        <input type="text" name="eventTime" class="form-control pull-right" id="editEventTime">
                      </div>
                    </div>
                    <div class="form-group">
                        <label for="event-description" class="col-sm-3 control-label">Event Description</label>
                        <div class="col-sm-9">
                            <textarea id="editEventDescription" name="eventDescription" class="form-control" rows="3" placeholder="Enter Event Description..."></textarea>
                        </div>
                    </div>
                    <!-- Visible only for Administrator -->
                    <div class="form-group adminApproval">
                        <label class="col-sm-3 control-label" for="event-status">Approval Status</label>
                        <div class="col-sm-9">
                            <div style="margin-bottom:5px;"></div>
                            <input type="checkbox" class="flat-red input-lg" id="editEventStatus" name="eventStatus">
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Current Color Tag</label>
                      <div class="col-sm-9">
                          <div id="curColorTag"></div>
                          
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="event-status">Event Color Tag</label>
                      <input type="hidden" name="eventColorTag" id="editEventColorTag"/>
                      <div class="col-sm-9">
                        <ul class="fc-color-picker" id="edit-color-chooser">
                          <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button id="btnEditEventSubmit" class="btn btn-info pull-right">Update Changes</button>
                </div>
                <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
      </div>
    </div>
  </div>

  <div id="modal-delete" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
          <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger">
            <span class="glyphicon glyphicon-warning-sign"></span>&nbsp;
              Are you sure you want to delete this Record?
          </div>
           <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title"  id="deleteTitle"></h3>
              </div>
              <div class="box-body">
                <ul class="timeline">
                  <li>
                    <i class="fa fa-map-marker bg-blue"></i>
                    <div class="timeline-item">
                      <span class="time"id="deleteTimeStart"></span>
                      <h3 class="timeline-header" id="deleteDateStart"></h3>
                      <div class="timeline-body">
                          <strong><i class="fa fa-file-text-o margin-r-5"></i> Description</strong>
                          <div style="margin-top: 10px; padding-left: 20px;">
                            <p id="deleteDescription"></p>
                          </div>
                         
                      </div>
                      <div class="timeline-footer">
                          <div id="deleteStatus"></div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-flag-checkered bg-green"></i>
                    <div class="timeline-item">
                      <span class="time"id="deleteTimeEnd"></span>
                      <h3 class="timeline-header" id="deleteDateEnd"></h3>
                    </div>
                  </li>
                  <li>
                    <i class="fa fa-calendar bg-gray"></i>
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn btn-success" id="btnDeleteEvent"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
        </div>
      </div>
    </div>
  </div>
</div>