<% include header/header-home %>
<div style="height: 100%; margin: 0; padding-top: 0 !important;">
    <section class="col-md-4 connectedSortable">           
        <div class="row" style="margin-left:1px">
            <div class="box-body">
                <div class="col-md-6 no-padding" >
                    <div class="callout callout-info" style="margin:0;padding-top:1px;height:40vh;line-height : 15px;">
                        <h2>MISSION</h2>
                        <p style="font-size:110%;" id="mission_txt">To produce world class professionals in aeronautics, technology and liberal arts equipped with commitment, excellence, responsibility
                        and integrity through advance level of instructions, research, extension and production.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 no-padding" >
                    <div class="callout callout-info" style="margin:0 0 3px 0;padding-top:1px;height:40vh;line-height : 17px;">
                        <h2>VISION</h2>
                        <p style="font-size:110%;" id="vision_txt">The PhilSCA is a leader institution commited to the scientific advancement in aeronautical sciences , technology and liberal
                        arts responsive to the dynamic and evolving demands for world class professionals of the industry.
                        </p>
                    </div>
                </div>
            
                <div class="col-md-12 no-padding" style="height: 100%;">
                    <div class="callout callout-info" style="height:50vh;">
                        <div class="col-xs-12">
                            <h1>ANNOUNCEMENT</h1>
                            
                        
                            <h1><div class="clock" style="color:black"></div></h1>
                        </div>
                        <div class="col-xs-12">
                        <div class="space-10"></div>

                        <h2 id="announcement_txt">Merry Christmas and Happy New Year!</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <section class="col-md-8 connectedSortable">
        <div class="row" style="margin-right:1px">
            <div class="box box-primary">
                <div class="box-body no-padding">
                    <!-- THE CALENDAR -->
                    <div id="calendar" style="width:100%"></div>
                </div>
            </div>
        </div>
    </section>
</div>                    