<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta http-equiv="refresh" content="300">

    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/fullcalendar.min.css">
    <link rel="stylesheet" href="/styles/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/styles/AdminLTE.min.css">
    <link rel="stylesheet" href="/styles/_all-skins.min.css">
    <link rel="stylesheet" href="/styles/all.css">
    <link rel="stylesheet" href="/styles/daterangepicker.css">
    <link rel="stylesheet" href="/styles/flat/_all.css">
    <link rel="stylesheet" href="/styles/flat/aero.css">
    <link rel="stylesheet" href="/styles/flat/blue.css">
    <link rel="stylesheet" href="/styles/flat/flat.css">
    <link rel="stylesheet" href="/styles/flat/green.css">
    <link rel="stylesheet" href="/styles/flat/grey.css">
    <link rel="stylesheet" href="/styles/flat/orange.css">
    <link rel="stylesheet" href="/styles/flat/pink.css">
    <link rel="stylesheet" href="/styles/flat/purple.css">
    <link rel="stylesheet" href="/styles/flat/red.css">
    <link rel="stylesheet" href="/styles/flat/yellow.css">
    <link rel="stylesheet" href="/styles/futurico/futurico.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/line/_all.css">
    <link rel="stylesheet" href="/styles/line/aero.css">
    <link rel="stylesheet" href="/styles/line/blue.css">
    <link rel="stylesheet" href="/styles/line/green.css">
    <link rel="stylesheet" href="/styles/line/grey.css">
    <link rel="stylesheet" href="/styles/line/line.css">
    <link rel="stylesheet" href="/styles/line/orange.css">
    <link rel="stylesheet" href="/styles/line/pink.css">
    <link rel="stylesheet" href="/styles/line/purple.css">
    <link rel="stylesheet" href="/styles/line/red.css">
    <link rel="stylesheet" href="/styles/line/yellow.css">
    <link rel="stylesheet" href="/styles/minimal/_all.css">
    <link rel="stylesheet" href="/styles/minimal/aero.css">
    <link rel="stylesheet" href="/styles/minimal/blue.css">
    <link rel="stylesheet" href="/styles/minimal/green.css">
    <link rel="stylesheet" href="/styles/minimal/grey.css">
    <link rel="stylesheet" href="/styles/minimal/minimal.css">
    <link rel="stylesheet" href="/styles/minimal/orange.css">
    <link rel="stylesheet" href="/styles/minimal/pink.css">
    <link rel="stylesheet" href="/styles/minimal/purple.css">
    <link rel="stylesheet" href="/styles/minimal/red.css">
    <link rel="stylesheet" href="/styles/minimal/yellow.css">
    <link rel="stylesheet" href="/styles/polaris/polaris.css">
    <link rel="stylesheet" href="/styles/square/_all.css">
    <link rel="stylesheet" href="/styles/square/aero.css">
    <link rel="stylesheet" href="/styles/square/blue.css">
    <link rel="stylesheet" href="/styles/square/green.css">
    <link rel="stylesheet" href="/styles/square/grey.css">
    <link rel="stylesheet" href="/styles/square/orange.css">
    <link rel="stylesheet" href="/styles/square/pink.css">
    <link rel="stylesheet" href="/styles/square/purple.css">
    <link rel="stylesheet" href="/styles/square/red.css">
    <link rel="stylesheet" href="/styles/square/square.css">
    <link rel="stylesheet" href="/styles/square/yellow.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->

  <!-- Google Font -->
  <link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  </head>

  <body class="skin-blue">
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-1.12.3.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/fullcalendar.min.js"></script>
    <script src="/js/dependencies/jquery.dataTables.min.js"></script>
    <script src="/js/dependencies/dataTables.bootstrap.min.js"></script>
    <script src="/js/dependencies/admin-utils.js"></script>
    <script src="/js/dependencies/daterangepicker.js"></script>
    <script src="/js/dependencies/icheck.min.js"></script>
    <script src="/js/dependencies/lodash.core.min.js"></script>
    <script src="/js/dependencies/main.js"></script>
    <script src="/js/dependencies/notify.min.js"></script>
    <script src="/js/bulletin.admin.js"></script>
    <script src="/js/bulletin.auth.js"></script>
    <script src="/js/bulletin.system.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
