<nav class="navbar navbar-default navbar-color">
    <div class="container"> 
        <div class="navbar-header">
          <span class="navbar-brand">VISUAL CALENDAR</span>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
     </div> 
</nav>